extends ./layout

block mainData
    #mainTitle
        h1 Dos Game Database
        p Welcome to my database for all of the old Dos games that I can find.  I keep finding more and will add them as I go along.
        p If as you look through the database you find that I am missing any.  Feel free to fill out the Add Game form and I will add it as soon as I can.