doctype html
html(lang='en')
    head
        title= 'Dos Game Database'   
        style
            include ./styles.css
            include ./pagination.css
    body
        .sidebarContainer
            .sidebar
                p Browse Games By:
                a(href='/games/alphabetical') Alphabetical
                br
                a(href='/games/genre') Genre
                br
                a(href='/games/yearPublished') Year Published
                br
                a(href='/games/publishers') Publisher
                br
                a(href='/games/developers') Developer
                hr
                a(href='/games/add_game') Add Game Form
                hr
                a(href='/') Homepage
                br
                a(href='/games/idList') Game Id's
                br
                a(href='/about') About Me


            .mainContent    
                block mainData
        footer
            hr
            p Copyright &copy; 2018