body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: lightseagreen
    }
h1 {
    color: brown;
}
.sidebarContainer {
    display: grid;
    grid-template-columns: 150px auto;
}
.sidebar {
    background-color: yellowgreen;
    height: 500px;
}
.mainContent {
    width: auto;
    padding-left: 10px;
}
.dataContainer {
    display: grid;
    grid-template-columns: 260px auto;    
}
#coverImg img {
    max-width: 250px;
/*    border: 10px solid red; */
    margin-left: 20px;
}
#list {
    padding-left: 20px;
    height: 320px;
    width: 400px;
}
#description {
    padding-left: 10px;
}
.aboutMe {
    font-size: 14pt;
    margin-left: 20px;
    margin-top: 20px;
    max-width: 500px;
    color: darkred;
}
#mainTitle {
    padding-left: 10px;
}
#addGame > label {
    width: 150px;
    float: left;
}
#addGame > input {
    margin-bottom: 2pt;
}
.gameFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#gameFile {    
    padding: 5px;
    flex-grow: 1;
    flex-basis: 16%;
    border: 1px solid blue;
    width: 200px;
    max-width: 200px;
    min-width: 200px;
    height: 170px;
    text-align: center;
}
a img {
    max-width: 200px;
}