extends ./layout

block mainData
    h1 All games by Name and ID
    .gameFlex
        each item in gameData
            #gameFile
                a(href='/games/' + item._id)
                    img(src='/images/' + item._id + '.png')
                a(href='/games/' + item._id, #gameName)= item.title                
                br
                = item.yearPublished
