body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: lightseagreen
    }
h1 {
    color: brown;
}
.instructions {
    max-width: 600px;
    min-width: 400px;
    border: solid 1px red;
    line-height: 150%;
}
.form {
    max-width: 400px;
    min-width: 400px;
    border: solid 1px green;
    line-height: 150%;
}
input {
    float: right;
    width: 200px;
}
