extends ./layout

block mainData
    h3 
        |   Thank you for your Submission #[br]
        |   It will be looked over and added to the database wherever possible.
    p
        |   If you wish to add another game please click #[a(href='/add_game') here]