extends ./layout

block mainData
    h2 Add Game Form
    form(method='POST', action='/add_game')
        #addGame
            label Game Title:
            input.form-control(name='gameTitle', type='text', autocomplete='off')
        #addGame
            label Genre:
            input.form-control(name='genre', type='text', autocomplete='off')
        #addGame
            label Publisher:
            input.form-control(name='publisher', type='text', autocomplete='off')
        #addGame
            label Developer:
            input.form-control(name='developer', type='text', autocomplete='off')
        #addGame
            label Year Published:
            input.form-control(name='yearPublished', type='text', autocomplete='off')
        #addGame
            label Game Description:
            textarea.form-control(name='description', type='text')
        input.btn.btn-primary(type='submit', value='Submit')
