extends ./layout

block mainData
    .dataContainer
        #coverImg
            block coverImg
        #list
            h1 Game Title
            ul
                li Genre: #{collection.genre}
                li Publisher:
                li Developer:
                li Year Published:
            #description
                h3 Game Description
                p Information about the game, including gameplay