doctype html
html(lang='en')
    head
        title= 'Dos Game Database'   
        style
            include ./styles.css
    body
        .sidebarContainer
            .sidebar
                p Browse Games By:
                a.foo_link(href='/alphabetical') Alphabetical
                br
                a.foo_link(href='/genre') Genre
                br
                a.foo_link(href='/year_published') Year Published
                br
                a.foo_link(href='/publisher') Publisher
                br
                a.foo_link(href='/developer') Developer
                hr
                a.foo_link(href='/add_game') Add Game Form
            .mainContent    
                block mainData
        footer
            hr
            a.foo_link(href='/') Homepage
            br
            a(href='about') About Me
            p Copyright &copy; 2018